body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #222;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #333;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    color: #ddd;
}

input {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #777;
    border-radius: 8px;
    background-color: #444;
    color: #ddd;
}

input[type="submit"] {
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #c0392b;
}
